@import "../variables";

.pizza-block {
  flex: 0 0 280px;
  text-align: center;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &:not(:nth-of-type(4n)) {
    margin-right: 40px;
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__selector {
    // display: flex;
    // background-color: #f3f3f3;
    // border-radius: 10px;
    // flex-direction: column;
    // padding: 6px;

    // ul {
    //   display: flex;
    //   flex: 1;

    //   &:first-of-type {
    //     margin-bottom: 6px;
    //   }

    //   li {
    //     padding: 8px;
    //     flex: 1;
    //     cursor: pointer;
    //     font-weight: 600;
    //     font-size: 14px;
    //     @include noselect();
    //     &.active {
    //       background: #ffffff;
    //       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    //       border-radius: 5px;
    //       cursor: auto;
    //     }
    //   }
    // }

    background-color: #f3f3f3;
    padding: 6px;
    border-radius: 10px;
    ul {
      display: flex;
      justify-content: space-between;
      &:first-child {
        margin-bottom: 6px;
      }

      &:first-child{
        li{
          flex: 0 0 50%;
        }
      }
      li {
        height: 48px;
        @include noselect();
        padding: 8px;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        flex: 1 1 auto;
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
